
.contactMe_images{
    width: 35%;
    margin: 7%
}

.contactMeLeftDiv{
    float: left;
    width: 50%;
}
.contactMeRightDiv{
    float: right;
    margin-top: 4%;
    width: 50%;
    text-align: left;
}

.contactItem {
    display: flex;
}