<div *ngIf="isLoggedIn">
  <mat-toolbar color="primary">
    <h1>{{title}}</h1>
    <div fxFlex fxLayoutAlign="flex-end center">
      <span style="color: white; float: right;">Welcome {{userdata.name}}</span>
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/home'"> Home </a>
        <a mat-list-item [routerLink]="'/robinhood'"> Robinhood </a>
        <a mat-list-item [routerLink]="'/about'"> About </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <ng-container *ngTemplateOutlet="template"></ng-container>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!isLoggedIn">
  <ng-container *ngTemplateOutlet="template"></ng-container>
</div>

<ng-template #template>
  <router-outlet></router-outlet>
</ng-template>