

p {
    color: #111;
}

body {
    margin: 0;
    padding: 0;
}

head {
    margin: 0;
    padding: 0;
}

div#topBar{
    height: 7vh;
    min-height: 30px;
    width: 100%;
    min-width: 50px;
    background-color: #111;
}

div#bottomBar {
    position: fixed;
    bottom: 0;
    background-color: #111;
    height: 7vh;
    min-height: 30px;
    width: 100%;
    min-width: 50px;
    color: white;
    display: block;
}

li {
    padding: 0px;
    margin-left: 1%;
}
h2 {
    padding-bottom: 0px;
}

.right_aligned{
    float: right;
    padding-right: 5px;
}

.left_aligned{
    float: left;
    padding-left: 5px;
}

.mySlides {
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

.vertical_center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.horizontal_center {
    margin: auto;
    text-align:center;
}

#main{
    transition: margin-left .5s;
}