

p {
    color: #1f06ad;
}

body {
    margin: 0;
    padding: 0;
}

head {
    margin: 0;
    padding: 0;
}

div#topBar{
    height: 7vh;
    min-height: 30px;
    width: 100%;
    min-width: 50px;
    background-color: #1f06ad;
}

div#bottomBar {
    position: fixed;
    bottom: 0;
    background-color: #1f06ad;
    height: 7vh;
    min-height: 30px;
    width: 100%;
    min-width: 50px;
    color: white;
}

li {
    padding: 0px;
    margin-left: 1%;
}
h2 {
    padding-bottom: 0px;
}

.right_aligned{
    float: right;
    padding-right: 5px;
}

.left_aligned{
    float: left;
    padding-left: 5px;
}